.topbar {
  box-sizing: border-box;

  position: sticky;
  width: 1440px;
  height: 71px;

  background: #404040;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
/* Top menu bar */
.breadcrumb li {
  display: inline;
  float: left;
}

.breadcrumb li+li::before {
  color: orange;
  content: " / "; 
}

.breadcrumb a {
  background-color: inherit;
  display: inline;
  color: aliceblue;
  text-decoration: underline;
  font-size: large;
}

a:hover {
text-decoration: none;
color: red;
cursor: pointer;
}

.title {
  position: relative;
  box-sizing: border-box;
  width: 1440px;
  height: 100px;
  display: center;
}

#header {
  display: inline-flex;
  box-sizing: border-box;

  position: relative;
  width: 1440px;
  height: 191px;

  background: #404040;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  justify-content: space-around;
}

.box {
  background-color: rgb(72, 13, 233);
  border: 1px solid rgb(245, 8, 8);
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: underline;
  color: aliceblue;
}

.box:hover {
  text-decoration: none;
  color: rgb(30, 233, 77);
}

#companyname {
  position: absolute;
  width: 100px;
  height: 49px;
  left: 670px;
  top: 0px;
  background: #D9D9D9;
  font-size: large;
  text-align: center;
}

#datefounded {
  position: absolute;
  width: 50px;
  height: 21px;
  left: 695px;
  top: 50px;
  background: #D9D9D9;
  font-size: small;
  text-align: center;
  font-style: italic;
}

.infosection {
  position: relative;
  display:flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
}

.titlebox {
  width: 250px;
}

.description {
  font-size: larger;
}

button {
  border: 1px solid;
  border-color: #466995;
  background-color: azure;
  text-align: center;
  text-decoration: underline;
}

button:hover {
  text-decoration: none;
  background-color: rgb(213, 255, 255);
  cursor: pointer;
}

button:active {
  text-decoration: none;
  background-color: rgb(180, 255, 255);
  color: red;
}